.grid-container {
	position: absolute;
	border: solid black 5px;
	border-radius: 10px;
	background-color: black;
	font-weight: bold;
	color: black;
}
.grid-cell {
	background: skyblue;
	width: 100px;
	height: 100px;
	border:1px;
	border-radius: 10px;
	display: inline-block;
	margin: 1px;
	text-align: center;
	line-height: 100px;
	font-size: 20px;
}
.grid-row {
/*	display: inline-block;
*/
}

body {
	margin-left: 33%;
	font-family: helvetica;
	background-color:silver;
}
